body {
	margin:0;
	overflow:hidden;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
}

#bg {
	width:auto;
	height:100%;
	position:absolute;
	margin-bottom:0;
	margin-right:0;
}


#background {
	z-index:-5;
	display:block;
	
	width:100%;
	height:100%;
	position: fixed;
    bottom: 0px;
    right: 0px;
	/*position:relative;
	left: -100%;*/
	margin:0;
	

}

#welcome {
	margin: 0 auto;
	color:white;
	font-size: 200%;
	top: 25%;
    left: 12%;
	width: 75%;
    height: 50%;
    position: absolute;
    background-position: center;
}

#plan {
	margin: 0 auto;
	color:white;
	font-size: 200%;
	top: 25%;
    left: 12%;
	width: 75%;
    height: 50%;
    position: absolute;
    background-position: center;
}

#splash {
    border-radius: 25px;
    text-align: center;
    z-index: 5;
    padding: 10px;
    position: absolute;
    top: 12%;
    left: 12%;

    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    width: 75%;
    height: 75%;
}

#splash2 {
    border-radius: 25px;
    text-align: center;
    z-index: 5;
    padding: 10px;
    position: absolute;
    top: 12%;
    left: 12%;

    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    width: 75%;
    height: 75%;
}

.title {
	font-size: 200%;
}

button {
  padding: 5px 25px 5px 25px;
  border: 1px solid #ffffff;
  color:white;
  text-decoration:none;
  background: transparent;
}

button:hover{
	
	text-decoration: none;
	background:rgba(255, 255, 255, 0.2);
	color: white;
}

.error {
	text-decoration:none;
	color:#f90e61;
	font-weight:100;
}

input {
	border: 0;
	border-bottom: 2px solid red;
}

